@font-face {
    font-family: 'WebFarbod';
    src:url('Farbod-Regular.woff') format('woff2'),
    url('Farbod-Regular.woff') format('woff'),
    url('Farbod-Regular.otf') format('opentype') ,
    url('Farbod-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TestFont';
    src:url('Farbod-Regular.woff') format('woff2'),
    url('Farbod-Regular.woff') format('woff'),
    url('Farbod-Regular.otf') format('opentype') ,
    url('Farbod-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
